<html>
<head>
<title>Welcome to the home page!</title>

</head>

<body>
    <h1>Welcome to the home page of Alphablog!</h1>
    <%=link_to 'Blog posts', articles_path %> |
    <%=link_to 'About', about_path %>
</body>
</html>